
{% autoescape off %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
    <p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>
    <p>Vous avez reçu cet e-mail car vous avez demandé une réinitialisation du mot de passe de votre compte utilisateur sur LineShop.</p>
    <p>Veuillez cliquer sur le lien suivant pour choisir un nouveau mot de passe :</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
    <p>Merci d'utiliser notre site !</p>
    <p>L'équipe LineShop</p>
</body>
</html>


{% endautoescape %}
