



#headA {
    background: url("{% static 'articles/a.png' %}") no-repeat center ;
    background-color: red;
    background-size: cover;
    height: 100vh;
    
}

#divB ,#divC , #divD  {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    height: 100%;
    
}

#divA {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    height: 100%;
    
}


h1 {
    font-weight: bold;
}

.btn-quantite {
    font-size: 1rem; /* Ajuste la taille selon tes besoins */
    width: 25%;
    height: 30px; /* Ajuste la hauteur selon tes besoins */
}

td {
    border: solid 1px ;
    
}