
{% extends 'articles/base.html' %}
{% load static %}

{% block title %}Commande{% endblock %}

    {% block contentbase %}

    

    <section style="padding-top: 150px;margin:50px ;background-image: url('/static/articles/flou.avif'); background-size: cover; "  >

        {% block content30 %}

        
        <div class="container">
            <h2 class="text-center text-primary mb-4">Votre commande a été validée avec succès !</h2>
            
            <div class="card">
                <div class="card-header">
                    <h5>Articles de votre commande</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Informations articles </th>
                                
                                <th>Statut</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{ articles }}</td>
                                
                                <td>{{ statue }} </td>
                                <td>{{ total }} FG</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="text-end mt-3">
               
            </div>
    
            <div class="d-flex justify-content-between p-4 mt-5">
                <a href="{% url 'index' %}" class="btn btn-primary">Continuer vos achats</a>
                <a href="#" class="btn btn-success">Voir l'historique des commandes</a>
            </div>
        </div>
        {% endblock %}
        


    </section>

  

{% endblock %}