
{% extends 'articles/baseG.html' %}
{% load static %}

{% block title %}Gestion{% endblock %}

    {% block contentbase %}

    <section style="margin-top: 100px;" >

        <h2>Gestion des articles</h2>


        
        <table class="table border table-success table-striped " >
            <thead class="table-light" >
                
                <tr class="border table-dark">
                    <th class="border " >Image</th>
                    <th class="border">Categorie</th>
                    <th class="border">Model</th>
                    <th class="border">Type</th>
                    <th class="border">Description</th>
                    <th class="border">Marque</th>
                    <th class="border">Prix</th>
                    <th class="border">Specificité</th>
                    <th class="border">En Promo ?</th>
                    <th class="border">Prix promo </th>
                    <th class="border">Stock</th>
                    <th class="border">Modification</th>
                    <th class="border">Supprimer</th>
                </tr>

            </thead>
            <tbody>
                {% for article in articles %}
                    <tr class="border">
                    <td class="border "><img src="{{ article.image.url }}" alt="imageArticle" class="img-fluid rounded-center " style="height: 80px;" > </td>
                    <td class="border p-1"> {{ article.categorie }} </td>
                    <td class="border p-1"> {{ article.model }} </td>
                    <td class="border p-1"> {{ article.type }} </td>
                    <td class="border p-1"> {{ article.description }} </td>
                    <td class="border p-1"> {{ article.marque }} </td>
                    <td class="border p-3"> {{ article.prix_formater}} </td>
                    <td class="border p-1"> {{ article.specificité }} </td>
                    <td class="border p-1"> {{ article.enpromo }} </td>
                    <td class="border"> {{ article.prixPromo_formater }} </td>
                    <td class="border p-1"> {{ article.stock }} </td>
                    <td class="border p-1"><a href="{% url 'modifierArt' article.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="25" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                      </svg></a></td>
                    <td class="border p-1"><a href="{% url 'supArticle' article.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="30" fill="red" class="bi bi-trash-fill " viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                      </svg></a></td>
                    </tr>
    
                {% endfor %}
            </tbody>
        </table>

    </section>

  

{% endblock %}