{% extends 'articles/base.html' %}
{% load static %}

{% block title %}Promo{% endblock %}

    {% block contentbase %}

        
    <section style="margin-top: 120px;">
        <div class="container-fluid">
            <h2 class="my-4">Articles en Promo : </h2>
            <div class="row">
                {% block content10 %}
                {% for article in articles %}       
                
                <div class="col-6 col-md-3 mb-3">
                    <div class="card">
                        <h6 class="card-header text-primary bg-dark " >{{ article.model }}</h6>
                        <div class="card-body">
                            <a href="{% url 'details' article.id %}"><img class="img-fluid " style="width:100%; height:250px" src="{{ article.image.url }}" alt="{{ article.type }}"></a>
    
                            {% if article.enpromo %}
                                <span class="text-muted" style="text-decoration: line-through;">
                                    <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                                </span>
                                
                                <p class="card-text"><strong>{{ article.prixPromo_formater}} FG</strong></p>
                               
                            {% else %}
                                <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'ajoutPanier' article.id %}">Acheter</a>
                        </div>  
                    </div>
                </div>


                {% endfor %}
        
                {% endblock %}

            </div>


        </div>
    </section>
    <hr>

    <section id="promoModes">
        <div class="container-fluid">
            <h2 class="my-4">Modes et Accessoires</h2>
            <div class="row">
                {% block content2 %}
                {% for article in modes %}       
                
                <div class="col-6 col-md-3 mb-3">
                    <div class="card">
                        <h6 class="card-header text-primary bg-dark " >{{ article.model }}</h6>
                        <div class="card-body">
                            <a href="{% url 'details' article.id %}"><img class="img-fluid " style="width:100%; height:250px" src="{{ article.image.url }}" alt="{{ article.type }}"></a>
    
                            {% if article.enpromo %}
                            <span class="text-muted" style="text-decoration: line-through;">
                                <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                            </span>
                            
                            <p class="card-text"><strong>{{ article.prixPromo_formater}} FG</strong></p>
                           
                            {% else %}
                                <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'ajoutPanier' article.id %}">Acheter</a>
                        </div>  
                    </div>
                </div>


                {% endfor %}
        
                {% endblock %}

            </div>


        </div>
    </section>
    <hr>

    <section id="promoElec">
        <div class="container-fluid">
            <h2 class="my-4">Electroniques</h2>
            <div class="row">
                
                {% block content1 %}
                {% for article in electroniques %}            
                
                <div class="col-6 col-md-3 mb-3">
                    
                    <div class="card">
                        <h6 class="card-header text-primary bg-dark" >{{ article.model }}  </h6>
                        <div class="card-body">
                            <a href="{% url 'details' article.id %}"><img class="img-fluid " src="{{ article.image.url }}" alt="{{ article.type }}" ></a>
                            {% if article.enpromo %}
                            <span class="text-muted" style="text-decoration: line-through;">
                                <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                            </span>
                            
                            <p class="card-text"><strong>{{ article.prixPromo_formater}} FG</strong></p>
                           
                            {% else %}
                                <p class="card-text"><strong>{{ article.prix_formater}} FG</strong></p>
                            {% endif %}

                                            <!-- Button trigger modal -->
                                                
                                                                    
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAjoutPanier-{{article.id}}">
                        Acheter
                    </button>


                    <div class="modal fade" id="ModalAjoutPanier-{{article.id}}" tabindex="-1" aria-labelledby="ModalAjoutPanier-{{article.id}}" aria-hidden="true"  >
                        <div class="modal-dialog" >
                            <div class="modal-content" style="width: 35rem; height: 30rem;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalAjoutPanier-{{article.id}}"> Achat </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ article.model }} </p>
                                    <div class="card " style="margin: 5px;">
                                        <div class="row " >
                                            <div class=" col-md-3 col-xs-2 col-5" >
                                                <img src="{{ article.image.url }}" alt="imageArticle" class="img-fluid rounded-center " style="height: 100px;" >
                                            </div>
                                            <div class="card-header col-md-3 col-xs-2 col-7 border">
                                                <span> {{article.model}}</span>
                                                
                                            </div>
                                            <div class="card-header col-md-3 col-xs-12 col-12 border">
                                                    Quantité: {{  achat.quantite }}
                                                    <form role="post" onsubmit="return false;">
                                                        {% csrf_token %} 
                                                    
                                                        <input type="number" id="quantite-{{article.id}}" min="1" value="1" max="50" onchange="quantite_ajour({{ article.id }})" class="form" >
                            
                                                    
                                                    </form>  
                                                    
                                            </div>
                                            <div class="card-header  col-md-3 col-xs-10 col-10 border" >
                                                {% if article.enpromo %}
                                                Prix Unitaire:
                                                <span class="text-muted" style="text-decoration: line-through;"> {{article.prix_formater}} FG</span>
                                                <span>{{article.prixPromo_formater}} FG</span> 
                                                
                                                
                                                {% else %}
                                                <span>Prix Unitaire: {{article.prix_formater}} FG</span>

                                                {% endif %}
                                                                            
                                            </div>


                                        </div>
                                            
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    
                                    {% block content27 %}

                                {% if user.is_authenticated %}
                                    
                                <form role="post" onsubmit="return false;">
                                    {% csrf_token %} 
                                
                                    <button type="button" onclick="ajouter_quantite({{ article.id }})" class="btn btn-primary"  id="cbtnToast-{{article.id}}"><a class="btn btn-primary" >Ajouter au panier</a></button>
                                </form> 
                                    
                                {%else%}
                                    
                                    vous devez etre connecté pour ajouter un article au panier
                                    <button type="button" class="btn btn-primary"  ><a href=" {% url 'enregistrement' %} " class="btn btn-primary" >S'inscrire</a></button>

                                {% endif %} 

                                {% endblock %}
                                    
                        
                                    

                                    
                                        <!-- Button toast message 
                                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                                            <div id="btnToast-{{article.id}}" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                                                <div class="toast-header">
                                                <img src="..." class="rounded me-2" alt="...">
                                                <strong class="me-auto">Panier</strong>
                                                <small>11 mins ago</small>
                                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                                <div class="toast-body">
                                                    {{article.id}} ajouté avec success
                                                </div>
                                            </div>
                                        </div>
                                        Button fin toast -->

                                </div>
                            </div>
                        </div>
                    </div> 

                    <!-- Button fin modal -->

                                

                        </div>  
                    </div>
                </div>
                
               

                {% endfor %}
        
                {% endblock %}
            
            </div>


        </div>
    </section>


    {% endblock %}